body{
font-family: Arial;
background:#f0f2f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
width:350px;
text-align:center;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#45a049;
}

li{
margin-top:10px;
}
